.container {
  text-align: center;
  background-color: rgba(75, 75, 73, 0.8);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
}

.about {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.about p {
  text-align: left;
  color: var(--white);
  margin-bottom: 0.5em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}

@media (max-width: 391px) {
  .about {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .about h2 {
    font-size: 17px;
  }

  .about p {
    font-size: 13px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .about {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .about h2 {
    font-size: 17px;
  }

  .about p {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
