.landing {
  /* background-image: url("../../assets/eagle2.jpg"); */
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: right;
}
.container {
  background-color: rgba(75, 75, 73, 0.8);
  display: flex;
  align-items: center;
  margin-right: 5em;
  width: 45%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  /* gap: 1em; */
  position: absolute;
  padding: 1.5em;
  border-top: 18px solid var(--yellow);
  border-radius: 2px;
}
.divLoading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(75, 75, 73, 0.8); */
}

.logo {
  max-width: 15em;
}

.container p {
  letter-spacing: 1.5px;
  font-size: 14px;
}
@media (max-width: 391px) {
  .loading {
    height: 8em;
  }
  .logo {
    max-width: 8em;
  }
  .container {
    margin-right: 0em;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 2px;
    border-top: 0px solid var(--yellow);
  }
  .info {
    width: 90%;
  }
  .container p {
    letter-spacing: 0.5px;
    font-size: 13px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .loading {
    height: 8em;
  }
  .logo {
    max-width: 8em;
  }
  .container {
    margin-right: 0em;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 2px;
    border-top: 0px solid var(--yellow);
  }
  .info {
    width: 90%;
  }
  .container p {
    letter-spacing: 0.5px;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
